        header{
            background:green;
            text-align: center;
            padding: 5px;
            color: white;
        }
        nav{
            padding:0px;
        }
        nav ul{
            list-style: none;
            display: flex;
        }
        nav ul> li> a{
            text-decoration: none;
            margin-right: 20px;
            font-size: 1.1em;
            color: green;
        }
        .main{
            width: 700px;
            text-align: center;
        }
        .link{
            margin: 10px ;
        }
        section{
            margin: 12px 0;
        }
        table{
            border: 1px solid black;
            border-collapse: collapse;
        }
        table th,td{
            border: 1px solid black;
            padding: 10px;
            text-align: center;
        }
        article{
            margin: 50px 0px;
        }
        #information-table{
            margin: 50px 0px;
        }
        #contact_form{
            margin: 50px 0px;
        }
    